language: node_js
services: docker
sudo: required
node_js: v10

before_install:
  - sudo /etc/init.d/postgresql stop
  - sleep 3

stages:
  - name: Deploy Test

jobs:
  include:
    - stage: Deploy Test
      name: Deploy to AWS Cloud
      script:
        - npm install -g typescript 
        - npm install -g aws-cdk
        - npm install
        - npm run build
        - cdk deploy --require-approval never
        - BASE_URL=$(aws cloudformation describe-stacks --stack-name ApiLambdaCrudDynamoDBExample --query "Stacks[0].Outputs[0].OutputValue" --output text)
        - newman run test/alf-cdk.postman_collection.json --env-var baseUrl="$BASE_URL" -r cli,json --reporter-json-export dist/newman/report.json

after_failure:
  - cat dist/newman/report.json
