language: node_js
services: docker
sudo: required
node_js: v10

before_install:
  - sudo /etc/init.d/postgresql stop
  - sleep 3

stages:
  - name: Deploy Test

jobs:
  include:
    - stage: Deploy Test
      name: Deploy to AWS Cloud
      script:
        - npm install -g typescript 
        - npm install -g aws-cdk
        - npm install
        - npm run build
        - cdk deploy --require-approval never
        - aws cloudformation describe-stacks --stack-name ApiLambdaCrudDynamoDBExample --query "Stacks[0].Outputs[0].OutputValue" --output text


after_failure:
  - docker-compose config
