language: node_js
services: docker
sudo: required
node_js: v10

before_install:
  - sudo /etc/init.d/postgresql stop
  - sudo python -m pip install awscli
  - npm install -g typescript
  - npm install -g aws-cdk
  - npm install

stages:
  - name: Deploy Test

jobs:
  include:
    - stage: Deploy Test
      name: Deploy to AWS Cloud
      script:
        - npm run build
        - cdk deploy --require-approval never
        - STACK_NAME=ApiLambdaCrudDynamoDBExample
        - BASE_URL=$(aws cloudformation describe-stacks --stack-name $STACK_NAME --query "Stacks[0].Outputs[?OutputKey=='RestApiEndPoint'].OutputValue" --output text)
        - REST_API_ID=$(aws cloudformation describe-stacks --stack-name $STACK_NAME --query "Stacks[0].Outputs[?OutputKey=='RestApiId'].OutputValue" --output text)
        - TABLE_NAME=$(aws cloudformation describe-stacks --stack-name $STACK_NAME --query "Stacks[0].Outputs[?OutputKey=='TableName'].OutputValue" --output text)
        - LG_NAME=$(aws cloudformation describe-stacks --stack-name $STACK_NAME --query "Stacks[0].Outputs[?OutputKey=='LogGroupName'].OutputValue" --output text)
        - echo "REST_API_ID = $REST_API_ID && BASE_URL = $BASE_URL && TABLE_NAME = $TABLE_NAME && LG_NAME = $LG_NAME"
        - aws apigateway create-deployment --rest-api-id $REST_API_ID --stage-name prod
        - newman run test/alf-cdk.postman_collection.json --env-var baseUrl="$BASE_URL" -r cli,json --reporter-json-export dist/newman/report.json

after_failure:
  - aws logs get-log-events --log-group-name my-logs $LG_NAME
  - cat dist/newman/report.json
